.header {
  height: 80px;
  background-color: #1c2b35;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}

.test a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    font-weight: 700;
}
.test a:hover{
    color: orange;
} 